<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="methods" name="Suite">
  <test thread-count="2" parallel="methods" name="Test">
    <classes>
      <class name="TestCase.Testcases_Ramya"/>
      <class name="TestCase.TestCases_Prudhvi"/>
      <class name="TestCase.TestCases_Jeevitha"/>
      <class name="TestCase.receiverSide"/>
      <class name="TestCase.LoginPageTest"/>
      <class name="TestBase.testCaseBase"/>
      <class name="TestCase.TestCases_Meghana"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
